In [21]:
import pandas as pd

In [22]:
import numpy as np

In [23]:
!ls ../out

output_CM_global.csv	output_SLATM_global.csv
output_FCHL_global.csv	output_SOAP_global.csv

In [24]:
slatm_out = pd.read_csv("../out/output_FCHL_global.csv", index_col=0)

In [25]:
slatm_out

,SolN,Fragments,ObjValNoPen,ObjValWithPen
0,1,"['frag_02_c00001', 'frag_16_c00001']",3.304072,3.304072
1,2,"['frag_05_c00001', 'frag_16_c00001']",2.513089,3.513089
2,3,"['frag_04_c00001', 'frag_16_c00001']",3.579382,3.579382
3,4,"['frag_02_c00001', 'frag_04_c00001', 'frag_16_...",1.663799,3.663799
4,5,"['frag_08_c00001', 'frag_16_c00001']",1.702805,3.702805
...,...,...,...,...
995,996,"['frag_03_c00001', 'frag_04_c00001', 'frag_08_...",9.175219,15.175219
996,997,"['frag_06_c00001', 'frag_08_c00001', 'frag_09_...",9.179986,15.179986
997,998,"['frag_02_c00001', 'frag_06_c00001', 'frag_08_...",9.185319,15.185319
998,999,"['frag_01_c00001', 'frag_02_c00001', 'frag_06_...",10.197514,15.197514
999,1000,"['frag_01_c00001', 'frag_03_c00001', 'frag_04_...",8.199056,15.199056

In [26]:
from ast import literal_eval

In [27]:
slatm_out["Fragments"] = slatm_out["Fragments"].apply(literal_eval)

In [28]:
# excess is missing Hs - to fix

In [29]:
import qml

In [30]:
qm9_mol = qml.Compound("../targets/qm9_0.xyz")
qm9_ncharges = qm9_mol.nuclear_charges

In [31]:
qm9_ncharges

array([8, 6, 6, 7, 6, 8, 8, 7, 6, 1, 1])

In [32]:
def count_ncharges(list_ncharges, elements=[1,6,7,8,16]):
    ncharge_count = np.zeros(len(elements))
    for ncharge in list_ncharges:
        for i, elem in enumerate(elements):
            if ncharge == elem:
                ncharge_count[i] += 1
    return ncharge_count

In [33]:
qm9_counts = count_ncharges(qm9_ncharges)

In [34]:
qm9_counts

array([2., 4., 2., 3., 0.])

In [35]:
def get_excess_frags(frag_list):
    mols = [qml.Compound("../amons-qm9/"+x+".xyz") for x in frag_list]
    ncharges = np.concatenate([mol.nuclear_charges for mol in mols])
    ncharge_count = count_ncharges(ncharges)
    
    diff_count = ncharge_count - qm9_counts
    diff_count = np.array(diff_count).astype(int)
    excess = []
    for i, count in enumerate(diff_count): 
        ncharge = [1,6,7,8,16][i]
        if count > 0 :
            for i in range(count):
                excess.append(ncharge)
        elif count < 0:
            for i in range(abs(count)):
                excess.append(-ncharge)
    return excess

In [36]:
slatm_out["Excess"] = slatm_out["Fragments"].apply(get_excess_frags)

In [37]:
slatm_out

,SolN,Fragments,ObjValNoPen,ObjValWithPen,Excess
0,1,"[frag_02_c00001, frag_16_c00001]",3.304072,3.304072,"[1, 1, 1, 1, 6, -8]"
1,2,"[frag_05_c00001, frag_16_c00001]",2.513089,3.513089,"[1, 1, 8]"
2,3,"[frag_04_c00001, frag_16_c00001]",3.579382,3.579382,"[1, 1]"
3,4,"[frag_02_c00001, frag_04_c00001, frag_16_c00001]",1.663799,3.663799,"[1, 1, 1, 1, 1, 1, 6, 6]"
4,5,"[frag_08_c00001, frag_16_c00001]",1.702805,3.702805,"[1, 1, 1, 6, 7]"
...,...,...,...,...,...
995,996,"[frag_03_c00001, frag_04_c00001, frag_08_c0000...",9.175219,15.175219,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 7, 7, 8]"
996,997,"[frag_06_c00001, frag_08_c00001, frag_09_c0000...",9.179986,15.179986,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6, ..."
997,998,"[frag_02_c00001, frag_06_c00001, frag_08_c0000...",9.185319,15.185319,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6, ..."
998,999,"[frag_01_c00001, frag_02_c00001, frag_06_c0000...",10.197514,15.197514,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, ..."
999,1000,"[frag_01_c00001, frag_03_c00001, frag_04_c0000...",8.199056,15.199056,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [38]:
slatm_out.sort_values(by='ObjValWithPen').iloc[0:50]

,SolN,Fragments,ObjValNoPen,ObjValWithPen,Excess
0,1,"[frag_02_c00001, frag_16_c00001]",3.304072,3.304072,"[1, 1, 1, 1, 6, -8]"
1,2,"[frag_05_c00001, frag_16_c00001]",2.513089,3.513089,"[1, 1, 8]"
2,3,"[frag_04_c00001, frag_16_c00001]",3.579382,3.579382,"[1, 1]"
3,4,"[frag_02_c00001, frag_04_c00001, frag_16_c00001]",1.663799,3.663799,"[1, 1, 1, 1, 1, 1, 6, 6]"
4,5,"[frag_08_c00001, frag_16_c00001]",1.702805,3.702805,"[1, 1, 1, 6, 7]"
5,6,"[frag_12_c00001, frag_13_c00001]",1.863887,3.863887,"[1, 1, 1, 1, 1, 6, 7]"
6,7,"[frag_11_c00001, frag_13_c00001]",2.295007,4.295007,"[1, 1, 1, 1, 1, 6, 7]"
7,8,"[frag_01_c00001, frag_02_c00001, frag_16_c00001]",3.304072,4.304072,"[1, 1, 1, 1, 1, 1, 6]"
8,9,"[frag_09_c00001, frag_16_c00001]",2.478475,4.478475,"[1, 1, 1, 1, 6, 6]"
9,10,"[frag_01_c00001, frag_05_c00001, frag_16_c00001]",2.513089,4.513089,"[1, 1, 1, 1, 8, 8]"
10,11,"[frag_01_c00001, frag_04_c00001, frag_16_c00001]",3.579382,4.579382,"[1, 1, 1, 1, 8]"
11,12,"[frag_03_c00001, frag_04_c00001, frag_16_c00001]",2.646261,4.646261,"[1, 1, 1, 1, 1, 6, 7]"
12,13,"[frag_01_c00001, frag_02_c00001, frag_04_c0000...",1.663799,4.663799,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 8]"
13,14,"[frag_01_c00001, frag_08_c00001, frag_16_c00001]",1.702805,4.702805,"[1, 1, 1, 1, 1, 6, 7, 8]"
14,15,"[frag_01_c00001, frag_12_c00001, frag_13_c00001]",1.863887,4.863887,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8]"
15,16,"[frag_10_c00001, frag_16_c00001]",3.114610,5.114610,"[1, 1, 1, 6, 7]"
16,17,"[frag_07_c00001, frag_15_c00001]",3.256917,5.256917,"[1, 1, 1, 1, 1, 6, 7]"
17,18,"[frag_01_c00001, frag_11_c00001, frag_13_c00001]",2.295007,5.295007,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8]"
18,19,"[frag_02_c00001, frag_03_c00001, frag_16_c00001]",3.305872,5.305872,"[1, 1, 1, 1, 1, 1, 1, 6, 6, 7, -8]"
19,20,"[frag_10_c00001, frag_15_c00001]",3.331398,5.331398,"[1, 1, 1, 1, 6, 8]"
20,21,"[frag_11_c00001, frag_14_c00001]",3.400915,5.400915,"[1, 1, 1, 1, 6, 8]"
21,22,"[frag_03_c00001, frag_16_c00001]",5.437596,5.437596,"[1, 1, 1, 7, -8]"
22,23,"[frag_01_c00001, frag_09_c00001, frag_16_c00001]",2.478475,5.478475,"[1, 1, 1, 1, 1, 1, 6, 6, 8]"
23,24,"[frag_01_c00001, frag_03_c00001, frag_04_c0000...",2.646261,5.646261,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8]"
24,25,"[frag_03_c00001, frag_05_c00001, frag_16_c00001]",2.742004,5.742004,"[1, 1, 1, 1, 1, 6, 7, 8]"
25,26,"[frag_02_c00001, frag_05_c00001, frag_16_c00001]",2.753112,5.753112,"[1, 1, 1, 1, 1, 1, 6, 6, 8]"
26,27,"[frag_08_c00001, frag_15_c00001]",3.995543,5.995543,"[1, 1, 1, 1, 6, 8]"
27,28,"[frag_06_c00001, frag_16_c00001]",5.110771,6.110771,"[1, 1, 1, 7]"
28,29,"[frag_01_c00001, frag_10_c00001, frag_16_c00001]",3.114610,6.114610,"[1, 1, 1, 1, 1, 6, 7, 8]"
29,30,"[frag_01_c00001, frag_07_c00001, frag_15_c00001]",3.256917,6.256917,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8]"
30,31,"[frag_02_c00001, frag_06_c00001, frag_16_c00001]",3.299125,6.299125,"[1, 1, 1, 1, 1, 1, 1, 6, 6, 7]"
31,32,"[frag_01_c00001, frag_02_c00001, frag_03_c0000...",3.305872,6.305872,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 7]"
32,33,"[frag_01_c00001, frag_10_c00001, frag_15_c00001]",3.331398,6.331398,"[1, 1, 1, 1, 1, 1, 6, 8, 8]"
33,34,"[frag_05_c00001, frag_06_c00001, frag_13_c00001]",3.384379,6.384379,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8]"
34,35,"[frag_01_c00001, frag_11_c00001, frag_14_c00001]",3.400915,6.400915,"[1, 1, 1, 1, 1, 1, 6, 8, 8]"
35,36,"[frag_01_c00001, frag_03_c00001, frag_16_c00001]",5.437596,6.437596,"[1, 1, 1, 1, 1, 7]"
36,37,"[frag_12_c00001, frag_14_c00001]",4.625373,6.625373,"[1, 1, 1, 1, 6, 8]"
37,38,"[frag_01_c00001, frag_03_c00001, frag_05_c0000...",2.742004,6.742004,"[1, 1, 1, 1, 1, 1, 1, 6, 7, 8, 8]"
38,39,"[frag_04_c00001, frag_06_c00001, frag_16_c00001]",3.752177,6.752177,"[1, 1, 1, 1, 1, 6, 7, 8]"
39,40,"[frag_01_c00001, frag_02_c00001, frag_05_c0000...",2.753112,6.753112,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 8, 8]"
40,41,"[frag_06_c00001, frag_09_c00001, frag_11_c00001]",3.850563,6.850563,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 8]"
41,42,"[frag_04_c00001, frag_12_c00001, frag_13_c00001]",2.859495,6.859495,"[1, 1, 1, 1, 1, 1, 1, 6, 6, 7, 8]"
42,43,"[frag_03_c00001, frag_12_c00001, frag_13_c00001]",2.869106,6.869106,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 7, 7]"
43,44,"[frag_07_c00001, frag_16_c00001]",4.920921,6.920921,"[1, 1, 1, 1, 6, 7, 7, -8]"
44,45,"[frag_02_c00001, frag_06_c00001, frag_15_c00001]",3.981745,6.981745,"[1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 8]"
45,46,"[frag_01_c00001, frag_08_c00001, frag_15_c00001]",3.995543,6.995543,"[1, 1, 1, 1, 1, 1, 6, 8, 8]"
46,47,"[frag_02_c00001, frag_03_c00001, frag_04_c0000...",3.065420,7.065420,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 7]"
47,48,"[frag_01_c00001, frag_06_c00001, frag_16_c00001]",5.110771,7.110771,"[1, 1, 1, 1, 1, 7, 8]"
48,49,"[frag_04_c00001, frag_05_c00001, frag_16_c00001]",4.243975,7.243975,"[1, 1, 1, 1, 6, 8, 8]"
49,50,"[frag_01_c00001, frag_02_c00001, frag_06_c0000...",3.299125,7.299125,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 7, 8]"